{% extends "index.html" %}

{% block body %}
    {% if user.is_authenticated %}
    <div class="row gx-5" data-target="user_card">
        <div class="col-md-6 p-2">
            {% include "user/card.html" %}
        </div>

        <div class="col-md-6 p-2">
            <div class="card">
                <img src="..." class="card-img-top ratio ratio-21x9" alt="...">
                <div class="card-body">
                <h5 class="card-title">Time to leave</h5>
                <a href="/logout" class="btn btn-primary">Log out</a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row gx-5">
        <div class="col-md-6 p-2">
            <div class="card">
                <img src="..." class="card-img-top ratio ratio-21x9" alt="...">
                <div class="card-body">
                <h5 class="card-title">First time user</h5>
                <a href="/signin" class="btn btn-primary">Sign in</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 p-2">
            <div class="card">
                <img src="..." class="card-img-top ratio ratio-21x9" alt="...">
                <div class="card-body">
                <h5 class="card-title">Returning user</h5>
                <a href="/login" class="btn btn-primary">Log in</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}